
.title {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(56, 207, 18);
  
}


.text {
  margin: 0;
  /* color: rgb(243, 131, 131); */
    color: #0b131b;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.text:hover{
  text-shadow: 3px 3px 10px rgb(228, 105, 125), -3px -3px 10px yellow;

}
.noReview {
font-weight: bold;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(6, 13, 14);
  text-shadow: 3px 3px 10px red, -3px -3px 10px yellow;
}